*,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: Roboto mono;
  max-width: 100%;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #ffffff;
  
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
    ),
    url(./assets/hero_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  z-index: 99;
}

.logo-title {
  font-family: Roboto mono;
  font-weight: 400;
  letter-spacing: 3.5px;
  font-size: 1.25rem;
  text-transform: uppercase;
  z-index: 99;
  color: #fff;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.nav-item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 30px; 
  letter-spacing: 1px;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.nav-link:active {
  color: #fff;
}

.nav-link:hover {
  color: #ffc107;
  font-size: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.25s;
}

.nav-input {
  padding: 10px 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.nav-input:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.nav-input::placeholder {
  font-family: Roboto mono;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.4);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-subtitle {
  font-family: Roboto mono;
  font-size: 20px;
  font-weight: 400;
}

.hero-title {
  font-family: "DM Serif Display", serif;
  font-size: 120px;
  max-width: 20ch;
  text-align: center;
}
